/* Header Styles */
header {
  background-color: #333;
  color: #fff;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 40%;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search button {
  background-color: #FF5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.cart a {
  color: #fff;
  text-decoration: none;
}
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  padding: 10px;
  z-index: 1000; /* Ensure it's above other content */
}